{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/vendas.css">
{% endblock %}

{% block title %} Vendas {% endblock %}


{% block content %}
<div class="container pt-2">
    <div class="row">
        <div class="col">
            <h3>Vendas</h3>
        </div>
    </div>


    <section class="row mt-3 vendas d-flex flex-wrap">

        <div class="col-12 col-sm-12 col-md-3 col-lg-2 border p-3">
            <div>
                <h5 class="mb-3">Dados do Cliente</h5>
            </div>
            <hr>
            <div>
                <p>Nome: <span>{{ venda.nome }}</span></p>
                <p>Veículo: <span>{{ venda.carro }}</span></p>
                <p>Placa: <span>{{ venda.placa }}</span></p>
                <p>Chassi: <span>{{ venda.chassi }}</span></p>
            </div>
        </div>


        <div class="col-12 col-md-9 col-lg-7 border p-3">
            <form action="/venda/{{ venda.id }}/produto" method="POST">
                {{ form.csrf_token }}
                <div>
                    <h5 class="mb-3">Orçamento</h5>
                </div>
                <hr>
                <div class="d-flex flex-wrap gap-3">
                    <div class="col-12 col-sm-1   mb-3">

                        {{ form.quantidade.label(class='form-label') }}
                        {{ form.quantidade(class='form-control', value='1') }}

                    </div>

                    <div class="col-12 col-sm-2   mb-3">

                        {{ form.sku.label(class='form-label') }}
                        {{ form.sku(class='form-control') }}

                    </div>

                    <div class="col-12 col-sm-6   mb-3">
                        {{ form.produto.label(class='form-label') }}
                        {{ form.produto(class='form-control') }}

                    </div>

                    <div class="col-12 col-sm-2  mb-3">
                        {{ form.preco.label(class='form-label') }}
                        {{ form.preco(class='form-control') }}


                    </div>

                    <div>
                        {{ form.botao_adicionar(class='btn btnLoading')}}

                    </div>

                </div>
            </form>
            <hr>
            <section>
                <h5>Produtos</h5>
                <div class="table-responsive">

                    <table class="table table-bordered ">
                        <thead>
                            <tr class="text-center">
                                <th class="col-1">Quant</th>
                                <th class="col-2">Sku</th>
                                <th class="col-6">Produto</th>
                                <th class="col-2">Preço Unit</th>
                                <th class="col-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in venda.produtos %}
                            <tr class="thover">
                                <td class="text-center">{{ produto.quantidade }}</td>
                                <td class="">{{ produto.sku }}</td>
                                <td>{{ produto.produto }}</td>
                                <td class="text-end">R$ {{ produto.preco }}</td>
                                <td class="text-end"><a href="" class="text-warning-emphasis">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a class="text-danger" href="/venda/{{ venda.id }}/{{ produto.id }}/delete">
                                        <i class="bi bi-cart-x-fill"></i>
                                    </a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>

                </div>



            </section>

        </div>

        <div class="col-md-12 col-lg-3 border p-3">
            <div>
                <h5 class="mb-3">Negociação</h5>
                <hr>
            </div>
        </div>



    </section>



</div>

{% endblock %}