{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/vendas.css">
{% endblock %}

{% block title %} Vendas {% endblock %}


{% block content %}
<div class="container pt-2">
    <div class="row">
        <div class="col">
            <h3>Vendas</h3>
        </div>
    </div>

    {% if form != undefined %}
    <!-- Modal Novo venda -->
    <section class="modal">
        <div id="card">
            <a href="/vendas" id="fechar"><i class="bi bi-x-square-fill"></i></a>
            <h2>Novo</h2>
            <form action="" method="post">
                {{ form.csrf_token }}

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Nome</label>
                    {{ form.nome(class='form-control', id='floatingInput', placeholder='Nome do Cliente')}}
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Carro</label>
                    {{ form.carro(class='form-control', id='floatingInput', placeholder='Ex, Gol, Golf')}}
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Placa</label>
                    {{ form.placa(class='form-control', id='floatingInput', placeholder='Ex, JXS2525')}}
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Chassi</label>
                    {{ form.chassi(class='form-control', id='floatingInput', placeholder='Chassi')}}
                </div>


                <div class="text-center">
                    {{ form.botao_salvar(class='btn')}}
                    <a href="/vendas" class="btn">Cancelar</a>
                </div>
            </form>
        </div>
    </section>
    {% endif %}


    <div class="row mt-3 ">

        <div class="col-12 p-3  vendas">
            <h4 class="text-center">Lista de Vendas</h4>
            <section class="border filtros p-2 mb-3">
                <h5>Filtros</h5>
                <div class="d-flex flex-wrap">
                    <span>Status</span>
                    <select class="form-select me-2" aria-label="Default select example">
                        <option selected>Status</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span>Status</span>

                    <select class="form-select me-2" aria-label="Default select example">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span>Status</span>

                    <select class="form-select me-2" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span>Status</span>

                    <select class="form-select me-2" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                </div>
                <a href="{{url_for('novavenda')}}" class="btn mt-2">Novo</a>
            </section>
            <section>
                <div class="card mb-3" style="width: 18rem; height: 13rem;">
                    <div class="card-body">
                        <div class="border-bottom">
                            <h5 class="card-title">Michael Linea</h5>

                        </div>
                        <p class="card-text">Suspensão</p>
                        <div>
                            <p class="card-text">Status</p>
                            <span>Orçamento</span>
                        </div>
                        <div class="border-top p-2">
                            <a href="#" class="btn ">Editar</a>
                            <a href="#" class="btn ">Peças</a>
                            <a href="#" class="btn ">Garantia</a>
                        </div>
                    </div>
                </div>
            </section>

        </div>


    </div>




</div>

{% endblock %}